@model int

<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-outline-primary" onfocus="false" asp-route-id="@Model"><i class="bi bi-pencil-square"></i> Update</button>
    <a asp-action="Index" class="btn btn-outline-success"><i class="bi bi-arrow-return-left"></i> Return</a>
</div>


